/debug.log
/uploads/
/upgrade/
/index.php
/themes/twentyseventeen/
/themes/twentysixteen/
/themes/twentynineteen/
/themes/index.php
/plugins/akismet/
/plugins/classic-editor/
/plugins/hello.php/
/plugins/index.php/
/index.php
